<ion-modal-view>

    <ion-content>

    <div class="turn-summary-container">
        <div class="player-box">

            <div class="current-player-box">
                <div class="player-info">{{currentPlayer.name}}</div>
                <div class="player-image"><img ng-src="{{currentPlayer.face}}"></div>
                <div class="spacer turn-score">1st Shot: {{currentPlayer.firstDart}}</div>
                <div class="spacer turn-score">2nd Shot: {{currentPlayer.secondDart}}</div>
                <div class="spacer turn-score">3rd Shot: {{currentPlayer.thirdDart}}</div>
                <hr />
                <div class="turn-score">Round Score: <span class="total-num">{{currentPlayer.turnTotal}}</span></div>
                <div class="score-total turn-score">Total Score: <span class="total-num">{{currentPlayer.score}}</span></div>
            </div>

            <div class="next-player-box">
                <div class="next-player">
                    <div>Up next</div>
                    <hr />
                    <div class="image-wrap">
                        <div class="player-image"><img ng-src="{{nextPlayer.face}}"></div>
                    </div>
                    <div class="info-wrap">
                        <div class="player-info">{{nextPlayer.name}}</div>
                        <div class="player-score">{{nextPlayer.score}}</div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    </ion-content>



</ion-modal-view>