<ion-modal-view>

    <ion-content>

    <div class="turn-summary-container">
        <div class="player-box">

            <div class="winner-player-box">
                <div class="player-info">{{winner.name}}</div>
                <div class="player-image"><img ng-src="{{winner.face}}"></div>
                <div class="winner-banner">WINNER!</div>
                <hr />
                <div class="winner-spacer turn-score">Turns: <span class="floated-right padded-right ">{{gameDetails.roundNum}}</span></div>
                <div class="winner-spacer turn-score">Points per Turn: <span class="floated-right padded-right ">27</span></div>
                <div class="winner-spacer turn-score">Points per Dart: <span class="floated-right padded-right ">12</span></div>
                <div class="winner-spacer turn-score">Win Margin: <span class="floated-right padded-right ">9</span></div>
                
                <div class="score-total record-total">Heads-Up Record: <span class="font-mod">10-6</span></div>
            </div>

            <div class="next-player-box-win">
                <div class="continue-space">
                    <div class="continue-wrap">
                        <div class="floated-left continue-button" ng-hide="true" ng-click="">Continue</div>
                        <div class="floated-left continue-button" ng-show="true">Rematch</div>
                        <a href="#/tab/dash"><div class="floated-right continue-button" ng-click="closeSummary()">Exit</div></a>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>


    </ion-content>



</ion-modal-view>